*{
	box-sizing: border-box;
}


body{
	font-family: 'Roboto', sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: $lightText;
}


.app-wrapper{
	padding-top: 64px;

	.app-container{
		width: 932px;
		max-width: 100%;
		margin: 0 auto;
		padding: 40px 16px 100px;
	}

	.app-container-full{
		width: 100%;
		margin: 0 auto;
		padding: 40px 16px 100px;
	}
}





/**
 * Buttons
 */
.btn{
	font-size: .875rem;
	line-height: 2.25rem;
	font-weight: 500;
	letter-spacing: .08929em;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 16px;
	display: inline-flex;
	position: relative;
	align-items: center;
	justify-content: center;
	min-width: 64px;
	height: 36px;
	border: none;
	outline: none;
	user-select: none;
	-webkit-appearance: none;
	overflow: hidden;
	vertical-align: middle;
	border-radius: 2px;
	cursor: pointer;
}

.btn-text{
	@extend .btn;
	color: $brandColor;
	background-color: rgba($brandColor, 0);
	transition: background-color 15ms linear;

	&:hover{
		background-color: rgba($brandColor, 0.04);
	}
}

.btn-raised{
	@extend .btn;
	background-color: $brandColor;
	color: #fff;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
	transition: box-shadow .28s cubic-bezier(.4,0,.2,1), background-color 15ms linear;

	&:hover{
		box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
		background-color: lighten($brandColor, 4);
	}

}

.btn-outlined{
	@extend .btn;
	border: 2px solid $brandColor;
	background-color: transparent;
	color: $brandColor;
	transition: background-color 15ms linear;

	&:hover{
		background-color: rgba($brandColor, 0.04);
	}
}


// white Buttons
.btn-text__white{
	@extend .btn-text;
	color: #fff;
	background-color: rgba(#fff, 0);

	&:hover{
		background-color: rgba(#fff, 0.04);
	}
}

.btn-raised__white{
	@extend .btn-raised;
	background-color: darken(#fff, 4);
	color: $brandColor;

	&:hover{
		background-color: #fff;
	}
}

.btn-outlined__white{
	@extend .btn-outlined;
	border-color: #fff;
	color: #fff;

	&:hover{
		background-color: rgba(#fff, 0.04);
	}
}






/**
 * Typography
 */
h1{
	font-weight: 300;
	font-size: 6rem;
	line-height: 6rem;
	letter-spacing: -.01562em;
	color: $darkText;
}
h2{
	font-weight: 300;
	font-size: 3.75rem;
	line-height: 3.75rem;
	letter-spacing: -.00833em;
	color: $darkText;
}
h3{
	font-weight: 400;
	font-size: 3rem;
	line-height: 3.125rem;
	letter-spacing: normal;
	color: $darkText;
}
h4{
	font-weight: 400;
	font-size: 2.125rem;
	line-height: 2.5rem;
	letter-spacing: .00735em;
	color: $darkText;
}
h5{
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 2rem;
	letter-spacing: normal;
	color: $darkText;
}
h6{
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 2rem;
	letter-spacing: -.0125em;
	color: $darkText;
}

.subtitle1{
	font-size: 1rem;
	line-height: 1.75rem;
	font-weight: 400;
	letter-spacing: .00937em;
	color: $darkText;
}
.subtitle2{
	font-size: .875rem;
	line-height: 1.375rem;
	font-weight: 500;
	letter-spacing: .00714em;
	color: $darkText;
}

.body1{
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 400;
	letter-spacing: .03125em;
}
.body2{
	font-size: .875rem;
	line-height: 1.25rem;
	font-weight: 400;
	letter-spacing: .01786em;
}

.caption{
	font-size: .75rem;
	letter-spacing: .03333em;
	line-height: 1.25rem;
	font-weight: 400;
	text-transform: uppercase;
	color: $darkText;
}

.overline{
	font-size: .75rem;
	line-height: 2rem;
	letter-spacing: .16667em;
	font-weight: 500;
	text-transform: uppercase;
	color: $darkText;
}

.center-text{
	text-align: center;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}





/**
 * Grid
 */
.grid{
	padding: 0;

	.grid__inner{
		display: grid;
		margin: 0;
		flex-flow: row wrap;
		align-items: stretch;
		grid-gap: 24px;
		grid-template-columns: repeat(4,minmax(0,1fr));

		.grid__cell{
			margin: 0;
			width: auto;

			&.span-1{
				grid-column-end: span 1;
			}
			&.span-2{
				grid-column-end: span 2;
			}
			&.span-3{
				grid-column-end: span 3;
			}
			&.span-4{
				grid-column-end: span 4;
			}
			&.span-6{
				grid-column-end: span 6;
			}
			&.span-8{
				grid-column-end: span 8;
			}
			&.span-9{
				grid-column-end: span 9;
			}
			&.span-10{
				grid-column-end: span 10;
			}
			&.span-11{
				grid-column-end: span 11;
			}
			&.span-12{
				grid-column-end: span 12;
			}
		}
	}
}
// Tablet
@media(min-width:480px){
	.grid{
		//padding: 24px;

		.grid__inner{
			grid-template-columns: repeat(8,minmax(0,1fr));
		}
	}
}
// Desktop
@media(min-width:840px){
	.grid{
		.grid__inner{
			grid-template-columns: repeat(12,minmax(0,1fr));
		}
	}
}


/**
 * List
 */
.list{
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 400;
	letter-spacing: .00937em;
	margin: 0;
	padding: 8px 0;
	list-style-type: none;

	li{
		display: flex;
		position: relative;
		align-items: center;
		justify-content: flex-start;
		height: 48px;
		padding: 0 16px;
		overflow: hidden;

		.list-item{
			text-decoration: none;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			display: block;
		}
	}
}













