/**
 * Colors
 */

// Branding Colors
$brandColorDark: #17304D;
$brandColor: #4899F7;
$brandColorLight: #8DC0FB;

// System Colors 
$successColor: #85E120;
$infoColor: #4BDEF5;
$warningColor: #FFB94D;
$dangerColor: #E1533D;

// Text Colors
$darkText: #202124;
$lightText: #5f6368;

// Background
$lightBg: #f1f3f4;
$darkBg: #202124;



/**
 * Grid
 */
$grid-margin-desktop: 24px;
$grid-gutter-desktop: 24px;
$grid-column-width-desktop: 72px;

$grid-margin-phone: 16px;
$grid-gutter-phone: 16px;
$grid-column-width-phone: 72px;