/**
 * Import fonts
 */
@import url("@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/**
 * Import the stylesheets
 */
/**
 * Colors
 */
/**
 * Grid
 */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #5f6368; }

.app-wrapper {
  padding-top: 64px; }
  .app-wrapper .app-container {
    width: 932px;
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 16px 100px; }
  .app-wrapper .app-container-full {
    width: 100%;
    margin: 0 auto;
    padding: 40px 16px 100px; }

/**
 * Buttons
 */
.btn, .btn-text, .btn-text__white, .btn-raised, .btn-raised__white, .btn-outlined, .btn-outlined__white {
  font-size: .875rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: .08929em;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 64px;
  height: 36px;
  border: none;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 2px;
  cursor: pointer; }

.btn-text, .btn-text__white {
  color: #4899F7;
  background-color: rgba(72, 153, 247, 0);
  -webkit-transition: background-color 15ms linear;
  transition: background-color 15ms linear; }
  .btn-text:hover, .btn-text__white:hover {
    background-color: rgba(72, 153, 247, 0.04); }

.btn-raised, .btn-raised__white {
  background-color: #4899F7;
  color: #fff;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: background-color 15ms linear, -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 15ms linear, -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), background-color 15ms linear;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), background-color 15ms linear, -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1); }
  .btn-raised:hover, .btn-raised__white:hover {
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #5ca4f8; }

.btn-outlined, .btn-outlined__white {
  border: 2px solid #4899F7;
  background-color: transparent;
  color: #4899F7;
  -webkit-transition: background-color 15ms linear;
  transition: background-color 15ms linear; }
  .btn-outlined:hover, .btn-outlined__white:hover {
    background-color: rgba(72, 153, 247, 0.04); }

.btn-text__white {
  color: #fff;
  background-color: rgba(255, 255, 255, 0); }
  .btn-text__white:hover {
    background-color: rgba(255, 255, 255, 0.04); }

.btn-raised__white {
  background-color: whitesmoke;
  color: #4899F7; }
  .btn-raised__white:hover {
    background-color: #fff; }

.btn-outlined__white {
  border-color: #fff;
  color: #fff; }
  .btn-outlined__white:hover {
    background-color: rgba(255, 255, 255, 0.04); }

/**
 * Typography
 */
h1 {
  font-weight: 300;
  font-size: 6rem;
  line-height: 6rem;
  letter-spacing: -.01562em;
  color: #202124; }

h2 {
  font-weight: 300;
  font-size: 3.75rem;
  line-height: 3.75rem;
  letter-spacing: -.00833em;
  color: #202124; }

h3 {
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.125rem;
  letter-spacing: normal;
  color: #202124; }

h4 {
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 2.5rem;
  letter-spacing: .00735em;
  color: #202124; }

h5 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: normal;
  color: #202124; }

h6 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: -.0125em;
  color: #202124; }

.subtitle1 {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: .00937em;
  color: #202124; }

.subtitle2 {
  font-size: .875rem;
  line-height: 1.375rem;
  font-weight: 500;
  letter-spacing: .00714em;
  color: #202124; }

.body1 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: .03125em; }

.body2 {
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: .01786em; }

.caption {
  font-size: .75rem;
  letter-spacing: .03333em;
  line-height: 1.25rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #202124; }

.overline {
  font-size: .75rem;
  line-height: 2rem;
  letter-spacing: .16667em;
  font-weight: 500;
  text-transform: uppercase;
  color: #202124; }

.center-text {
  text-align: center; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

/**
 * Grid
 */
.grid {
  padding: 24px; }
  .grid .grid__inner {
    display: grid;
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    grid-gap: 24px;
    grid-template-columns: repeat(4, minmax(0, 1fr)); }
    .grid .grid__inner .grid__cell.span-1 {
      margin: 0;
      width: auto;
      grid-column-end: span 1; }
    .grid .grid__inner .grid__cell.span-2 {
      margin: 0;
      width: auto;
      grid-column-end: span 2; }
    .grid .grid__inner .grid__cell.span-3 {
      margin: 0;
      width: auto;
      grid-column-end: span 3; }
    .grid .grid__inner .grid__cell.span-4 {
      margin: 0;
      width: auto;
      grid-column-end: span 4; }
    .grid .grid__inner .grid__cell.span-5 {
      margin: 0;
      width: auto;
      grid-column-end: span 5; }
    .grid .grid__inner .grid__cell.span-6 {
      margin: 0;
      width: auto;
      grid-column-end: span 6; }
    .grid .grid__inner .grid__cell.span-7 {
      margin: 0;
      width: auto;
      grid-column-end: span 7; }
    .grid .grid__inner .grid__cell.span-8 {
      margin: 0;
      width: auto;
      grid-column-end: span 8; }
    .grid .grid__inner .grid__cell.span-9 {
      margin: 0;
      width: auto;
      grid-column-end: span 9; }
    .grid .grid__inner .grid__cell.span-10 {
      margin: 0;
      width: auto;
      grid-column-end: span 10; }
    .grid .grid__inner .grid__cell.span-11 {
      margin: 0;
      width: auto;
      grid-column-end: span 11; }
    .grid .grid__inner .grid__cell.span-12 {
      margin: 0;
      width: auto;
      grid-column-end: span 12; }

@media (min-width: 480px) and (max-width: 839px) {
  .grid .grid__inner {
    grid-template-columns: repeat(8, minmax(0, 1fr)); } }

@media (min-width: 840px) {
  .grid .grid__inner {
    grid-template-columns: repeat(12, minmax(0, 1fr)); } }

/**
 * List
 */
.list {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: .00937em;
  margin: 0;
  padding: 8px 0;
  list-style-type: none; }
  .list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 48px;
    padding: 0 16px;
    overflow: hidden; }
    .list li .list-item {
      text-decoration: none;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block; }

.top-app-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #4899F7;
  color: #fff;
  z-index: 2; }
  .top-app-bar .top-app-bar__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 64px; }
    .top-app-bar .top-app-bar__row .top-app-bar__section {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      min-width: 0;
      padding: 8px 12px;
      z-index: 1; }
      .top-app-bar .top-app-bar__row .top-app-bar__section.align-start {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1; }
      .top-app-bar .top-app-bar__row .top-app-bar__section.align-end {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1; }
      .top-app-bar .top-app-bar__row .top-app-bar__section .top-app-bar__navigation-icon,
      .top-app-bar .top-app-bar__row .top-app-bar__section .top-app-bar__action-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 48px;
        height: 48px;
        padding: 12px;
        border: none;
        outline: none;
        background-color: transparent;
        fill: currentColor;
        text-decoration: none;
        cursor: pointer;
        color: #fff; }
        .top-app-bar .top-app-bar__row .top-app-bar__section .top-app-bar__navigation-icon:before,
        .top-app-bar .top-app-bar__row .top-app-bar__section .top-app-bar__action-item:before {
          position: absolute;
          border-radius: 50%;
          pointer-events: none;
          content: "";
          top: 0%;
          left: 0%;
          width: 100%;
          height: 100%;
          background-color: #fff;
          -webkit-transition: opacity 15ms linear;
          transition: opacity 15ms linear;
          opacity: 0;
          z-index: 1; }
        .top-app-bar .top-app-bar__row .top-app-bar__section .top-app-bar__navigation-icon:hover:before,
        .top-app-bar .top-app-bar__row .top-app-bar__section .top-app-bar__action-item:hover:before {
          opacity: 0.08; }
      .top-app-bar .top-app-bar__row .top-app-bar__section .top-ap-bar__title {
        font-size: 1.25rem;
        line-height: 2rem;
        font-weight: 500;
        letter-spacing: .0125em;
        text-decoration: inherit;
        text-transform: inherit;
        padding-left: 20px;
        padding-right: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        z-index: 1; }

.footer-app {
  border-top: 1px solid rgba(0, 0, 0, 0.12); }
  .footer-app .footer-container {
    width: 900px;
    margin: 0 auto;
    padding: 32px 0; }
    .footer-app .footer-container .footer-content .footer-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
      .footer-app .footer-container .footer-content .footer-list li a {
        display: block;
        padding: 8px 16px;
        text-decoration: none;
        color: #5f6368; }

.search-section {
  background-image: url("../../assets/img/cabecera-2.jpg");
  background-position: center center;
  background-size: cover; }
  .search-section h3 {
    margin-bottom: 0; }
  .search-section form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative; }
    .search-section form .form-input {
      padding: 12px;
      border-radius: 2px;
      height: 56px;
      border: none;
      background-color: #fff;
      -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
              box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
      width: 460px;
      max-width: 100%; }
    .search-section form button {
      height: 56px;
      padding: 0 24px;
      margin-left: 8px; }

.howto-section .grid .grid__cell img {
  width: 100%;
  height: auto; }

.howto-section .grid .grid__cell h6 {
  margin: 0; }

.howto-section .grid .grid__cell p {
  margin: 0; }

.workers-section {
  background-color: #f1f3f4; }
  .workers-section .worker {
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
    .workers-section .worker .worker__header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      padding: 16px; }
      .workers-section .worker .worker__header .worker__photo img {
        border-radius: 50%; }
      .workers-section .worker .worker__header .worker__info {
        padding: 0 16px; }
        .workers-section .worker .worker__header .worker__info .worker__name {
          font-size: 1.25rem;
          font-weight: 500;
          letter-spacing: .0125em;
          color: #202124;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .workers-section .worker .worker__header .worker__info .worker__rating {
          line-height: 0; }
          .workers-section .worker .worker__header .worker__info .worker__rating i {
            width: 24px;
            height: 24px;
            color: #FFB94D; }
      .workers-section .worker .worker__header .worker__price {
        margin-left: auto;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: normal;
        color: #202124; }
    .workers-section .worker .worker__content {
      padding: 16px; }
      .workers-section .worker .worker__content .worker__skills {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; }
        .workers-section .worker .worker__content .worker__skills li {
          margin-right: 16px;
          text-align: center; }
          .workers-section .worker .worker__content .worker__skills li .icon {
            height: 46px;
            width: 46px;
            border: 1px solid rgba(0, 0, 0, 0.12);
            border-radius: 50%;
            padding: 10px;
            margin: 0 auto; }
            .workers-section .worker .worker__content .worker__skills li .icon i {
              display: block; }
    .workers-section .worker .worker__actions {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 16px; }
